{% include "restaurantProj/header.html" %}

<!-- !PAGE CONTENT! -->
<div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:100px;margin-left:250px">
        <div class="w3-white w3-col w3-card w3-display-container" style="min-height:450px;opacity:0.5;margin-right:10px;margin-top:40px">
            <h1 class="w3-center">Search Results</h1>
            <ul class="w3-ul w3-center">
                {% for menuitem in object_list%}
                <ul class="w3-ul w3-center">
                    {{ menuitem.id}}. {{ menuitem.name }} ({{ menuitem.type }}) | {{ menuitem.price }}
                    <a class="fa fa-minus-square-o" style="text-decoration:none" href="/menu/delete/{{ menuitem.id }}"></a>
                </ul>
                {% if forloop.last %}
                <ul class="w3-ul">---</ul>
                <ul class="w3-ul w3-center">
                    {{ found }} items found
                </ul>
                {% endif %}
                {% empty %}
                <ul class="w3-ul w3-center">
                    No Menu Item Found
                </ul>
                {% endfor %}
            </ul>
        </div>
</div>
<!-- End page content -->

{% include "restaurantProj/footer.html" %}
