{% include "restaurantProj/header.html" %}

<!-- !PAGE CONTENT! -->
<div class="w3-main w3-content w3-padding" style="max-width:1200px;margin:100px">
  <div class="w3-display-middle" style="width:65%">
    <div class="w3-bar w3-black">
      <button class="w3-bar-item w3-button tablink" onclick="openLink(event, 'Car');"><i class="fa fa-car w3-margin-right"></i>Add Menu Item</button>
    </div>

    <!-- Tabs -->
    <div id="Car" class="w3-container w3-white w3-padding-16 myLink">
      <h3></h3>
      <form action="" method="post">{% csrf_token %}
          <p>
              Table {{ form.order }}
          </p>
          <p>
              Item {{ form.menuitem }}
          </p>
          <input type="hidden" name="next" value="{{ request.GET.next }}">
          <input class="w3-button w3-dark-grey" type="submit" value="Add" />
      </form>
    </div>
  </div>

<!-- End page content -->
</div>

{% include "restaurantProj/footer.html" %}
